<div class="rounded-full flex flex-col">

    <div>
        <h2>  Transaction Name  </h2>
        <h2>  $ Amount  </h2>
    </div>

    <div>
        <p>$ xxx</p>
        <p>new date</p>
    </div>

</div>