<nav class="bg-white shadow mb-4">
	<div class="container mx-auto px-4 py-4 flex justify-between items-center">
		<a href="/trip-overview" class="text-2xl font-bold text-emerald-700">GroupTrip</a>

		<div class="space-x-4">
			<a href="/trip-overview" class="text-sm text-gray-600 hover:text-emerald-700">Trips</a>
			<a href="/account" class="text-sm text-gray-600 hover:text-emerald-700">Account</a>
		</div>
	</div>
</nav>
