<html>
	<head>
		<title>GroupTrip</title>

		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="stylesheet" href="/style.css">
	</head>

	<body class="bg-gray-100 p-4">
		
        <!-- show all payments -->
        <% transactions.forEach(trans => { %>
            <!-- <option value="<%= trans.id %>" <%= country.id == selectedCountryId ? 'selected' : '' %>>
                <%= country.country_name %>
            </option> -->
        <% }); %>

	</body>
</html>
